h1{
    height: 16px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    margin-top: 0;
}

.bold{
    font-weight: 600;
}

.blue{
    color: blue;
    cursor: pointer;
}

.p1, .p2, .p3{
    text-indent: 48px;
}

